<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <meta property="og:image" content="https://www.reed.edu/reed-magazine/articles/2018/images/Brandon-Marrow-18.jpg">
        <meta property="og:description" content="Brandon Marrow is a musician, teacher, slavist, language learner, and a distracted thinker.">
        <meta name="twitter:title" content="Brandon Marrow's Personal Site">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
        {% feed_meta %}
        {% seo %}
</head>
