// Colors

$parchment: #eee8d5;
$white: #fdf6e3;
$root: #859900;
$bulb: #6c71c4;
$blood: #dc322f;

//Spacing
$content-width: 800px;

//Font
$header-font: 'Source Sans Pro', sans-serif;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626


//Padding

